<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="wParent" class="cn.ezios.wj.practice.Parent">
        <property name="idCard" value="140100000000X"/>
        <property name="name" value="王建建"/>
        <property name="age" value="20"/>
    </bean>

    <bean id="app" class="cn.ezios.wj.practice.App">
    </bean>

</beans>