<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-datasource.xml"/>
    <import resource="spring-moudle.xml"/>

    <bean id="customerDao" class="cn.ezios.wj.practice.dao.Impl.JdbcSupportCustomerDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="wParent" class="cn.ezios.wj.practice.Parent">
        <property name="idCard" value="140100000000X"/>
        <property name="name" value="王建建"/>
        <property name="age" value="20"/>
    </bean>

    <bean id="speakService" class="cn.ezios.wj.practice.service.impl.WangSpeak"/>
    <bean id="speakServic2" class="cn.ezios.wj.practice.service.impl.YuanSpeak"/>

    <bean id="speaker" class="cn.ezios.wj.practice.controller.Speaker">
        <property name="speakService" ref="speakServic2"/>
    </bean>

</beans>